<!DOCTYPE html>
<html>

<head>
    <title>about</title>
<link rel="icon" href="/img/weather.png">    
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src={{path}} class="portrait">
    </div>

    {{>footer}}

</body>

</html>